# VSCode çalışma alanı dosyaları
.vscode/

# Windows sistem dosyaları
Thumbs.db
Desktop.ini

# Windows Geçici Dosyalar
$RECYCLE.BIN/

# Visual Studio Build dosyaları
bin/
obj/

# NuGet paketleri
packages/

# Paketleme ve dağıtım dosyaları
*.nupkg
*.snupkg

# Log dosyaları
*.log
Logs/

# Geçici dosyalar
*.bak
*.swp
*.tmp

# ReSharper ve JetBrains Rider dosyaları
.idea/
.rehresharper/

# IntelliJ IDEA geçici dosyalar
.idea/

# .NET Core ve ASP.NET Core log dosyaları
*.zip

# Kullanıcı ayarları dosyaları (Visual Studio, VSCode vb.)
*.user
*.suo

# Derlenmiş çıktı
 /dist 
/tmp 
/out-tsc 
# Yalnızca Bazel çalıştırılmışsa mevcuttur
 /bazel-out 

# Bağımlılıklar
 /node_modules 

# Cordova
 /www 
/plugins 
/platforms 

# Electron
 /dist-electron 
/dist-packages 
/electron.main.js 

# IDE'ler ve editörler
 .idea/* 
!.idea/runConfigurations/ 
!.idea/codeStyleSettings.xml 
.project 
.classpath 
.c9/ 
*.launch 
.settings/ 
xcuserdata/ 
*.sublime-workspace 

# IDE - VSCode
 .vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 

# Maven
 /target 
/log 

# Çeşitli
 /.sass-cache 
/connect.lock 
/coverage 
/libpeerconnection.log 
npm-debug.log 
yarn-error.log 
testem.log 
/typings 
/reports 
/src/translations/template.* 
# /src/environments/.env.* 

# Sistem Dosyaları
 .DS_Store 
Thumbs.db